{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            function typeSelect() {
                var type = $('.menu-type option:selected').val();
                $('.menu-types').each(function(){
                    $(this).parent().parent().hide();
                });
                $('.menu-'+type).parent().parent().show(200);
            }
            $('.menu-type').on('change', function () {
                typeSelect();
            });
            typeSelect();
        });
    </script>
{% endblock %}