{% extends base_template %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <nav class="navbar navbar-default">
            <form action="{{ admin.generateUrl('list') }}" method="get">
                <select name="group" style="margin: 7px 0 0 10px; width: auto;" onchange="$(this).parent().submit();">
                    {% for group_slug, gr in groups %}
                        <option value="{{ group_slug }}" {% if group == group_slug %}selected="selected"{% endif %}>{{ gr.label }}</option>
                    {% endfor %}
                </select>
            </form>
        </nav>

        <div class="box box-primary">
            <div class="box-body">
                <form action="{{ admin.generateUrl('list') }}" method="post">
                    {% for slug, setting in settings %}
                        <div class="form-group">
                            <label class="control-label">
                                {{ setting.name }}
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <input type="text" name="slug[{{ slug }}]" class="form-control" value="{{ setting.value }}">
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}