{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cms/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/cms/vendor/jquery-form/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/cms/vendor/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/cms/js/admin.js') }}"></script>
    <script>
        cmsAdmin.messages = {
            'add': '{{ 'Add'|trans({}, 'CmsBundle') }}',
            'remove': '{{ 'Remove'|trans({}, 'CmsBundle') }}',
            'edit': '{{ 'Edit'|trans({}, 'CmsBundle') }}'
        };
        $(function () {
            tinymce.init({
                convert_urls : false,
                language: '{{ app.request.locale }}',
                selector: '.tinymce-full',
                height: 500,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imageuploader'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link',
                toolbar2: 'print preview media imageuploader image | forecolor backcolor emoticons',
                imageuploader_action: '{{ path('cms_admin_tinymce_image_upload') }}',
                content_css: [
                    '/assets/css/layout.css',
                    '/assets/css/style.css'
                ],
                rel_list: [
                    {title: 'Нет', value: ''},
                    {title: 'Nofollow', value: 'nofollow'}
                ]
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cms/vendor/blueimp-file-upload/css/jquery.fileupload.css') }}">
{% endblock %}

{% block side_bar_after_nav %}{% endblock %}
{% block sonata_sidebar_search %}<br>{% endblock %}
{% block sonata_top_nav_menu %}
    {{ parent() }}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% for notification in cms_admin_notifications.items %}
                <li class="dropdown notifications-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-{{ notification.icon }} text-{{ notification.color }}" aria-hidden="true"></i> <span class="label label-{{ notification.label }}">{% if notification.total() %}{{ notification.total() }}{% endif %}</span></i>
                    </a>
                    {% if notification.total() %}
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="menu">
                                    {% for item in notification.items %}
                                        <li>
                                            <a href="{{ item.link }}">
                                                <i class="fa fa-{{ item.icon }} text-{{ item.color }}"></i> {{ item.title|raw }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}