{% block user_block %}
    <li class="user-header bg-light-blue">
        <img src="{{ asset('/bundles/cms/img/user.png') }}" class="img-circle" alt="Avatar">
        <p>{{ app.user.username }}</p>
    </li>

    <li class="user-footer">
        {% if is_granted('ROLE_CMS_ADMIN_ADMIN_USER_ALL') or is_granted('ROLE_SUPER_ADMIN') %}
            <div class="pull-left">
                <a href="{{ path('admin_intpill_cms_adminuser_show', {id: app.user.id}) }}" class="btn btn-default btn-flat"><i class="fa fa-user"></i> {{ 'Profile'|trans({}, 'CmsBundle') }}</a>
            </div>
        {% endif %}


        <div class="pull-right">
            <a href="{{ path('cms_admin_logout') }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ 'Logout'|trans({}, 'CmsBundle') }}</a>
        </div>
    </li>
{% endblock %}