{% extends 'AppBundle:Layout/Container:page.html.twig' %}

{% block content %}
    <h1>Страница временно недоступна</h1>
    <br>
    <p>Попробуйте еще раз, либо сообщите о технической ошибке <a class="replace-email">по ссылке</a></p>
{% endblock %}