{% extends '@App/Layout/Container/wide.html.twig' %}

{% block content %}
    <div class="container page-blocks-inner">
        <div class="row-fluid page-content-inner">
            <article style="min-height:400px;padding:32px;font-size:14px;">
                <h1>Отсутствующая страница</h1>
                <br>
                <p>Вероятнее всего, вы прошли по несуществующей ссылке или ошиблись, вводя адрес в браузере.</p>
                <p>Сообщить о технической ошибке на сайте можно <a class="replace-email">по ссылке</a>.</p>
                <br>
                <p>Раз вы оказались на этой странице, предлагаем взглянуть на <a href="https://cropscience.bayer.ru/weather">агропрогноз погоды</a>, найти <a href="https://cropscience.bayer.ru/partners">дистрибьюторов продукции Байер</a> в вашем регионе или ознакомиться с <a href="https://cropscience.bayer.ru">нашим каталогом</a>.</p>
                <p>Или воспользуйтесь навигацией нашего сайта для поиска нужной информации.</p>
                <p><a href="/">Вернуться на главную</a></p>
            </article>
        </div>
    </div>
{% endblock %}