{% extends 'AppBundle:Layout/Container:page.html.twig' %}

{% block content %}
    <script>
        (function() {
            var cx = '000087119902700785536:_xfzv89njjg';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>
{% endblock %}
