{% extends 'AppBundle:Layout:main.html.twig' %}

{% block main_content %}
    {% block stylesheets %}
        <style>
            body {
                font-size: 13px;
            }
        </style>
    {% endblock %}
    <div class="container page-blocks-inner">
        <div class="row-fluid page-content-inner">
            <nav class="span2 hidden-print">
                {% if app_left_menu.all %}
                    <ul class="nav page-nav-left">
                        {% for leftMenuItem in app_left_menu.all %}
                            <li class="dropdown{% if leftMenuItem.isActive %} selected{% endif %}{% if leftMenuItem.isBranchActive %} select-parent{% endif %}">
                                <a href="{{ leftMenuItem.url }}">{{ leftMenuItem.name }}</a>
                                {% if leftMenuItem.children %}
                                    <ul class="nav page-nav-left">
                                        {% for menuChild in leftMenuItem.children %}
                                            <li class="dropdown {% if menuChild.active %} selected select-parent{% endif %}"><a href="{{ menuChild.url }}">{{ menuChild.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>

            <article class="span8 row-fluid">
                {% if cms_breadcrumbs.items|length > 1 %}
                    <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        {% for breadcrumb in cms_breadcrumbs.items %}
                            {% if breadcrumb.link=='#' %}
                            {% elseif breadcrumb.link %}
                                <li><a itemprop="url" href="{{ breadcrumb.link }}"><span itemprop="title">{{ breadcrumb.title }}</span></a></li>
                            {% else %}
                                <li>{{ breadcrumb.title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                {% endif %}
    {% if pagination is defined and pagination.currentPageNumber > 0 %}
      <noindex>
        {% endif %}
    {% if cms_page.head %}
                <h1>{{ cms_page.head }}</h1>
    {% endif %}
          {% if pagination is defined and pagination.currentPageNumber > 0 %}
          </noindex>
              {% endif %}
                {% block content %}
                    {{ cms_page.content|raw }}
                {% endblock %}

                {{ render(controller('AppBundle:Block/Attachment:index')) }}
            </article>

            <aside class="span2">
                {#
                <div class="page-box-collored-alt">
                    <div class="auth-form-block-container">
                        <h3 class="box-heading hh3">Авторизация</h3>
                        <form action="/work-in-progress" name="authForm" method="POST" class="login-form container-fluid">
                            <div class="form-group">
                                <!--[if lte IE 9]><label for="logininput">Логин:</label><![endif]-->
                                <input type="text" name="username" id="logininput" placeholder="Логин" class="form-control">
                            </div>
                            <div class="form-group">
                                <!--[if lte IE 9]><label for="loginpassword">Пароль:</label><![endif]-->
                                <input type="password" name="password" id="loginpassword" placeholder="Пароль" class="form-control">
                            </div>
                            <input type="submit" class="btn btn-sm btn-default" value="Войти">
                        </form>

                        <div class="container-fluid box-content">
                            <p class="page-text-small">По&shy;жалуй&shy;ста, прой&shy;ди&shy;те ав&shy;то&shy;риза&shy;цию, чтобы по&shy;лучить дос&shy;туп к&nbsp;важ&shy;ной ин&shy;форма&shy;ции и&nbsp;спе&shy;ци&shy;аль&shy;ным&nbsp;инс&shy;тру&shy;мен&shy;там.</p>
                            <p class="page-text-small">В данный момент регистрация доступна только <a href="/partners">официальным дистрибьютерам</a>.</p>
                            <p class="page-text-small">Прохождение авторизации подразумевает ознакомление и выражение согласия на <a href="/personalinfo" target="_blank">обработку персональных данных</a>.</p>
                        </div>
                    </div>
                    <div class="auth-user-info-block-container" style="display: none;">
                        <div class="box-heading hh3 auth-exit" id="_auth_user">Пользователь</div>
                        <div class="container-fluid box-content auth-exit">
                            <p><span class="userName"></span> &nbsp;<a href="javascript:void(0);" id="logout-btn">
                                    </a></p>
                        </div>
                    </div>
                </div>
                #}
                <div class="page-box-collored-alt">
                    <h3 class="box-heading hh3">Каталог продукции</h3>
                    <a href="/files/doc/Katalog2018_interaktive.pdf" class="box-image-container">
                        <img src="/assets/img/layout/preview-full-Katalog-banner.jpg" class="after-text-header" alt=""></a>
                    <!--  <img style="margin-top: 55px;" src="/assets/img/layout/preview-full-Katalog-banner.jpg" class="page-key-visual-mask" alt=""> -->
                    <div class="container-fluid box-content">
                        <p>
                            <a href="/files/doc/Katalog2018_interaktive.pdf" class="text-blue">
                                <b>Семена и средства защиты растений для щедрого урожая</b>
                            </a>
                        </p><br>
                    </div>
                    <a href="/productions" class="box-bottom-link">Узнать о препаратах подробнее</a>
                </div>
                <div class="page-box-collored-alt">
                    <h3 class="box-heading hh3">Видео-Материалы</h3>
                    <a href="/videos" class="box-image-container">
                        <img src="/assets/img/layout/video-overlay2.jpg" class="after-text-header" alt="">
                        <!--                            <img style="margin-top: 55px;" src="/assets/img/layout/video-overlay.jpg" class="page-key-visual-mask" alt=""></a>-->
                        <div class="container-fluid box-content">
                            <p>
                                <a href="/videos" class="text-blue">
                                    <b>Гибрид подсолнечника ЕС Белла: российские аграрии о своем выборе</b>
                                </a>
                            </p><br>
                        </div>
                        <a href="/videos" class="box-bottom-link">Наш Видео-канал</a>
                    </a>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}