{% if attachments %}
    <ul class="files" style="font-size:90%;line-height:1em;">
        {% for attachment in attachments %}
            <li class="{{ attachment.fileExtension }}">
                <a href="{{ asset(attachment_dir~attachment.file) }}" target="_blank">{{ attachment.name }}</a><br>
                <span class="small gray6">(Adobe&nbsp;Acrobat,&nbsp;{{ attachment.fileSizeKb }}&nbsp;Кб)</span>
            </li>
        {% endfor %}
    </ul>
    <p class="small">Для просмотра документов в формате PDF Вам может понадобится
        <noindex>
            <a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank" rel="nofollow">Acrobat Reader</a>
        </noindex>.
    </p>
{% endif %}