<nav class="span2 hidden-print ">
    {% if menuItems %}
        <ul class="nav page-nav-left">
            {% for menuItem in menuItems %}
                {% set menu = menuBuilder.build(menuItem) %}
                {% set menuChildren = menu.children(menuItem) %}
                {% set isActive = menuItem.active %}
                {% for menuChild in menuChildren %}
                    {% if menuChild.active %}
                        {% set isActive = true %}
                    {% endif %}
                {% endfor %}
                <li class="dropdown{% if menuItem.active %} selected{% endif %}{% if isActive %} select-parent{% endif %}">
                    <a href="{{ menuItem.url }}">{{ menuItem.name }}</a>
                    {% if menuChildren %}
                        <ul class="nav page-nav-left">
                            {% for menuChild in menuChildren %}
                                <li class="dropdown {% if menuChild.active %} selected select-parent{% endif %}"><a href="{{ menuChild.url }}">{{ menuChild.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>