<nav class="cs-navigation navbar navbar-default1">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#respons-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="text-menu">Меню</span>
                </button>
                <ul class="cs-navigation__toggle-list list-unstyled hidden-md hidden-lg">
                    <li class="cs-navigation__toggle-item hidden-xs"><a href="tel:8-800-234-20-15" class="cs-navigation__toggle-link cs-navigation__toggle-phone--link"><img src="{{ asset('assets/img/toggl-phon.png') }}" alt="ico" class="cs-navigation__toggle-phone">8-800-234-20-15</a></li>
                    <li class="cs-navigation__toggle-item"><a rel="nofollow" href="/lk/" class="cs-navigation__toggle-login s-navigation__toggle-link"><img src="{{ asset('assets/img/nv-icon.png') }}" alt="ico"><span class="hidden-xs hidden-sm">&nbsp;Кабинет дистрибьютора</span></a></li>
                    <li class="cs-navigation__toggle-item hidden-sm hidden-md hidden-lg"><a href="tel:8-800-234-20-15" class="cs-navigation__toggle-link cs-navigation__toggle-phone--link"><img src="{{ asset('assets/img/toggl-phon.png') }}" alt="ico" class="cs-navigation__toggle-phone"></a></li>
                    <li class="cs-navigation__toggle-item"><a href="/search" class="cs-navigation__toggle-link"><img src="{{ asset('assets/img/search-icon.png') }}" alt="ico"></a></li>
                    <li class="cs-navigation__toggle-item"><a class="replace-email cs-navigation__toggle-link"><img src="{{ asset('assets/img/mail-icon.png') }}" alt="ico"></a></li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="respons-menu">
            <ul class="cs-navigation__list nav navbar-nav">
                <li class="cs-navigation__item hidden-sm hidden-xs"><a href="/" class="cs-navigation__link"><img src="{{ asset('assets/img/home.png') }}" alt="ico"></a></li>
                {% for menuItem in menuItems %}
                    <li class="cs-navigation__item dropdown">
                        <a href="#" class="dropdown-toggle cs-navigation__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menuItem.name }} <span class="caret"></span></a>
                        {% if menuItem.children %}
                            <ul class="dropdown-menu">
                                {% for menuChild in menuItem.children %}
                                    <li><a href="{{ menuChild.url }}">{{ menuChild.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="/lk/" rel="nofollow" class="cs-navigation__login cs-navigation__link btn hidden-sm hidden-xs"><img class="hidden-sm hidden-xs" src="{{ asset('assets/img/nv-icon.png') }}" alt="ico">&nbsp;Кабинет дистрибьютора</a>
        </div>
    </div><!-- /.container -->
</nav>