{% extends '@App/Layout/empty.html.twig' %}

{% block content %}
    <div style="width:100%;height:50px;background-color:#59c134">
			<img src="/sfiles/s1/infoboard/img/bayeragroservices_50x50.png" alt="" width="227" height="50" style="width:227px !important;">
			<div style="color: white;font-size: 150%;padding-top: 9px;text-align: right;float: right;margin-right: 20px;">Инфопанель+ <span id="onlineStatus"></span></div>
	</div><div class="container-fluid">
		<div class="row">
			<div id="b-charts-tips-bdays" class="col-sm-12 col-lg-6">
				<div class="row" id="b-charts">

					<div id="sales-thermometer" class="carousel slide vertical" data-interval="30" style="height:450px">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="active item">
								<div class="sng-graph">
									<div class="sng-graph-title">Бизнес КропСайенс СНГ: февраль 2018</div>
									<div class="sng-graph-image"><img src="/sfiles/s1/infoboard/img/sng-graph.jpg" alt=""></div>
								</div>
								<!--<div id="container-overview"></div>-->
							</div>
							<div class="item">
								<div id="container-month" style="height:300px"></div>

							</div>
							<div class="item">
								<div id="container-year" style="height:300px"></div>

							</div>

							<div class="item">
								<div id="container-year2" style="height:300px"></div>

							</div>
						</div>
					</div>

				</div>
				<div class="row" id="b-tips-bdays">
					<div class="col-sm-12 col-lg-6" id="b-tips">
						<h4>Совет дня</h4>
						<p>Посмотрите в интернете, по каким из интересующих вас тем уже существуют семинары в онлайн-формате (&laquo;вебинары&raquo;)</p>
					</div>
					<div class="col-sm-12 col-lg-6" id="b-bdays" style="height:850px;">
						<h4>Дни рождения в <span class="bd-month">этом месяце</span></h4>
						<table class="table table-condensed table-birthdays">
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="b-news" class="col-sm-12 col-lg-3">
				<h4>Агро-новости</h4>
				<div class="news-container" style="position:relative;overflow:hidden;height:1024px;">
					<table class="table table-condensed table-news" style="position:absolute;">
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div id="b-weather" class="col-sm-12 col-lg-3">
				<div id="weather" class="carousel slide vertical" data-interval="30" style="height:1024px">
					<div class="carousel-inner">

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/sfiles/s1/infoboard/js/vendor/modernizr.custom.57661.js"></script>
	<script type="text/javascript" src="/sfiles/s1/infoboard/js/vendor/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/sfiles/s1/infoboard/js/vendor/bootstrap3.min.js"></script>
	<script type="text/javascript" src="/sfiles/s1/infoboard/js/hc/highcharts-custom.js"></script>
	<script type="text/javascript" src="/sfiles/s1/js/iSystemCompl.js"></script>
	<script type="text/javascript" src="/sfiles/s1/js/iSystem.Sets.js"></script>
	<script type="text/javascript" src="/sfiles/s1/js/iSystem.User.min.js"></script>
	<script type="text/javascript" src="/sfiles/s1/infoboard/js/main.js"></script>
{% endblock %}
{% block stylesheets %}
    <style>
		html, body {
            overflow:hidden;
			font-size: 14px;
        }
		.table td, .table th {padding-left:0; padding-right:0;}

		.now-temp {font-size: 200%;}

		h4, h5 {color:#0090c5;}
		h5 {margin-bottom: 0;}
		.padding-top-none h4 {margin-top:0 !important;}

		.month-data-table td,
		.year-data-table td,
		.table-centered td,
		.table-centered th {text-align: center;}
		.va-middle {vertical-align: middle !important;}
		.img-half {max-width: 50%;width:50%;}

		.col-lg-3, .col-lg-6 {padding-left:1em;border-left:1px solid #cccccc;}
		.span3:first-child, .span6:first-child {padding-left:0;border-left:none;}

		.table-news td {border:none;}
		.table-weather td {border:none;}
		.table-birthdays td {border: none !important; padding-top:0 !important; padding-bottom:0 !important;}

		#weather .table {
			table-layout: fixed;
		}

		.sng-graph {
			padding: 10px 30px 0 10px;
		}

		.sng-graph-title {
			text-align: center;
			color: #10384F;
			font-size: 18px;
			font-weight: bold;
			font-family: Arial;
			padding-bottom: 10px;
		}

		.sng-graph-image {
			width: 100%;
		}
    </style>
{% endblock %}