<!DOCTYPE html>
<html>
<head>
    {% include '@App/Layout/Block/main_head.html.twig' %}
    {% block head %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    {% include '@App/Layout/Block/main_footer.html.twig' %}
    {% block javascript %}{% endblock %}
</body>

</html>