{% htmlcompress %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include '@App/Layout/Block/main_head.html.twig' %}
    {% block head %}{% endblock %}
    {{ cms_page.pageHead|raw }}
    {% block stylesheets %}{% endblock %}
</head>

<body {% if cms_page.isHome %}class="bg-gray"{% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGCCX9"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=543360892661831";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <header class="cs-header">
        <div class="container">
            <ul class="cs-header__list list-unstyled list-inline">
                <li class="cs-header__item"><a rel="nofollow" href="https://www.bayer.com/" class="cs-header__link">Bayer Global</a></li>
                <li class="cs-header__item"><a href="/videos" class="cs-header__link">Media</a></li>
                <li class="cs-header__item"><a href="/about-job" class="cs-header__link">Карьера</a></li>
                <li class="cs-header__item"><a href="/contacts" class="cs-header__link">Контакты</a></li>
            </ul>
            <div class="row">
                <div class="col-md-5 col-sm-10 col-xs-10">
                    <div class="cs-logo">
                        <a {% if cms_page.isHome %}{% else %}href="/"{% endif %} class="cs-logo__lonk">
                            <img src="{{ asset('assets/img/logo.png') }}" alt="Bayer Crop Science Россия" title="Bayer Crop Science " class="cs-logo__img">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-lg-offset-3 col-md-offset-2 hidden-xs hidden-sm">
                    <ul class="cs-header__icon-list list-unstyled list-inline">
                        <li class="cs-header__icon-item"><a href="/search" class="cs-header__icon-link"><img src="{{ asset('assets/img/icon1.png') }}" alt="" class="cs-header__icon-img"></a></li>
                        <li class="cs-header__icon-item"><a class="replace-email cs-header__icon-link"><img src="{{ asset('assets/img/icon2.png') }}" alt="" class="cs-header__icon-img"></a></li>
                    </ul>
                    <a href="tel:8-800-234-20-15" class="cs-header__phone">Горячая линия: 8-800-234-20-15</a>
                </div>
                <div class="col-md-1 col-xs-1">
                    <div class="cs-bayer">
                        <a href="#" class="cs-bayer__link">
                            <img src="{{ asset('assets/img/bayer.png') }}?1" alt="Crop Science  |  Россия" class="cs-bayer__img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ render(controller('AppBundle:Block/MainMenu:index')) }}
    </header>

    {% block main_content %}{% endblock %}

    <footer class="cs-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap">
                        <div class="cs-footer__title footer-toggle">Ссылки Байер <span class="caret  hidden-md hidden-lg"></span></div>
                        <ul class="cs-footer__list list-unstyled">
                            <li class="cs-footer__item"><a rel="nofollow" href="https://www.bayer.ru/" class="cs-footer__link">Bayer Russia</a></li>
                            <li class="cs-footer__item"><a rel="nofollow" href="http://animalhealth.bayer.ru/" class="cs-footer__link">Bayer Animal Health</a></li>
                            <li class="cs-footer__item"><a rel="nofollow" href="http://www.nunhems.com/www/nunhemsinternet.nsf/id/RU_RU_Home" class="cs-footer__link">Nunhems</a></li>
                            <li class="cs-footer__item"><a rel="nofollow" href="http://www.bayercropscience.com/" class="cs-footer__link">Crop Science World</a></li>
                            <li class="cs-footer__item"><a rel="nofollow" href="http://www.bayer.com/" class="cs-footer__link">Bayer Global</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap">
                        <div class="cs-footer__title footer-toggle">Правовые документы <span class="caret  hidden-md hidden-lg"></span></div>
                        <ul class="cs-footer__list list-unstyled">
                            <li class="cs-footer__item"><a href="/conditions" class="cs-footer__link">Правила пользования сайтом</a></li>
                            <li class="cs-footer__item"><a href="/confidentiality" class="cs-footer__link">Защита персональных данных</a></li>
                            <li class="cs-footer__item"><a href="/personalinfo" class="cs-footer__link">Согласие на обработку персональных <br> данных</a></li>
                            <li class="cs-footer__item"><a href="/copyright" class="cs-footer__link">Авторские права</a></li>
                            <li class="cs-footer__item"><a href="/techinfo" class="cs-footer__link">Техническая информация</a></li>
                            <li class="cs-footer__item"><a rel="nofollow" href="https://www.bayer.ru/user_website_agreement.php" class="cs-footer__link">Пользовательское соглашение АО «Байер»</a></li>
                            <li class="cs-footer__item"><a rel="nofollow" href="https://www.bayer.ru/cookies_policy.php" class="cs-footer__link">Политика Cookies</a></li>
                        </ul>

                    </div>
                </div>
                <div class=" col-md-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap">
                        <div class="cs-footer__title footer-toggle">Продукты <span class="caret  hidden-md hidden-lg"></span></div>
                        <ul class="cs-footer__list list-unstyled">
                            <li class="cs-footer__item"><a href="/productions" class="cs-footer__link">Каталог продуктов</a></li>
                            <li class="cs-footer__item"><a href="/protection" class="cs-footer__link">Меры безопасности</a></li>
                            <li class="cs-footer__item"><a href="/forgeries" class="cs-footer__link">Борьба с подделками</a></li>
                            <li class="cs-footer__item"><a href="/price" class="cs-footer__link">Прайс-лист</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix hidden-md hidden-lg"></div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap">
                        <div class="cs-footer__title footer-toggle">Проект БайСтади <span class="caret  hidden-md hidden-lg"></span></div>
                        <ul class="cs-footer__list list-unstyled">
                            <li class="cs-footer__item"><a href="/baystudy" class="cs-footer__link">Проект БайСтади</a></li>
                            <li class="cs-footer__item"><a href="/bayarena" class="cs-footer__link">Проект БайАрена</a></li>
                            <li class="cs-footer__item"><a href="/farmings-future" class="cs-footer__link">Farming’s Future</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4 hidden-md hidden-lg"></div>
                <div class="col-sm-4 col-xs-4 hidden-md hidden-lg"></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap"{% if cms_page.isHome %} itemscope itemtype="http://schema.org/Organization"{% endif %}>
                        <div class="cs-footer__title">Контакты</div>
                        {% if cms_page.isHome %}
                        <meta itemprop="name" content="Bayer Crop Science Россия" />

                            <meta itemprop="telephone" content="8-800-234-20-15" />
                            <meta itemprop="email" content="ru-info@bayercropscience.com" />
                        {% endif %}
                        <ul{% if cms_page.isHome %} itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"{% endif %} class="cs-footer__list list-unstyled list-on">
                            {% if cms_page.isHome %}
                                <meta itemprop="streetAddress" content="3‑я Рыбинская ул., д. 18, стр. 2" />
                                <meta itemprop="postalCode" content="107113" />
                                <meta itemprop="addressLocality" content="Москва" />
                            {% endif %}
                            <li class="cs-footer__item">107113, Москва, 3‑я Рыбинская ул., <br>д. 18, стр. 2</li>
                            <li class="cs-footer__item"><a href="tel:8-800-234-20-15" class="cs-footer__link">Телефон: 8-800-234-20-15</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap cs-footer__wrap--up">
                        <div class="cs-footer__title">Электронная рассылка</div>
                        <form class="cs-footer__form" name="subscribe">
                            <p>
                                <input class="cs-footer__input" type="text" name="email">
								<span onclick="ga('send','event','cs-subscribe__form','subscribe'); return true;">
									<span onclick="yaCounter40583975.reachGoal('cs-footer__form'); return true;" >
										<input type="submit" class="cs-footer__btn btn btn-primary" value="Подписаться">
									</span>
								</span>
                            </p>
                            <p>
                                <label class="checkbox-permission">
                                    <input class="checkbox" type="checkbox">
                                    <span class="checkbox-custom"></span>
                                    <span class="label"><a href="/personalinfo" target="_blank">Даю согласие на обработку <br>персональных данных</a></span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="cs-footer__wrap cs-footer__wrap--up">
                        <div class="cs-footer__title">Социальные сети</div>
                        <ul class="cs-footer__list cs-footer__list--social list-unstyled list-on">
                            <li class="footer__item"><a rel="nofollow" href="https://www.facebook.com/BayerCropScienceRussia" class="cs-footer__link"><img src="{{ asset('assets/img/soc1.png') }}" alt="" class="cs-footer__soc"></a></li>
                            <li class="footer__item"><a rel="nofollow" href="https://www.youtube.com/user/BayerCropScienceRU" class="cs-footer__link"><img src="{{ asset('assets/img/soc2.png') }}" alt="" class="cs-footer__soc"></a></li>
                            <li class="footer__item"><a rel="nofollow" href="https://vk.com/bayer_cropscience" class="cs-footer__link"><img src="{{ asset('assets/img/soc3.png') }}" alt="" class="cs-footer__soc"></a></li>
                            <li class="footer__item"><a rel="nofollow" href="https://ok.ru/bayercropscience" class="cs-footer__link"><img src="{{ asset('assets/img/soc4.png') }}" alt="" class="cs-footer__soc"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="cs-bottom-line" id="cart-panel">
            <div class="cs-notification" id="cart-panel-adding-notification">Товар добавлен</div>
            <div class="container">
                <div class="cs-bottom-line__wrap text-right">
                    <span>Продуктов в заявке: <b id="cart-panel-product-amount">{{ app_cart.amount }}</b></span>
                    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
                    <a href="#" onclick="Cart.show(); return false;" class="cs-bottom-line__btn open-popup-link">Оформить заявку на консультацию</a>
                    <a href="#" class="cs-bottom-line__clean" onclick="Cart.clear(); return false;">Очистить</a>
                </div>
            </div>
        </div>
    </footer>

    <div class="fixed-disclaimer">
        <div class="container">
            <div class="fixed-disclaimer-text">
                Этот сайт использует файлы cookies для более удобной работы пользователей с ним. Использование файлов cookies позволит АО «БАЙЕР» в будущем улучшить функционал данного веб-сайта. Нажимая кнопку «ОК», Вы соглашаетесь с использованием файлов cookies. Отозвать свое согласие на использование файлов cookies, а также получить более подробную информацию, Вы можете посетив страницы <a rel="nofollow" href="https://www.bayer.ru/cookies_policy.php" target="_blank">Политика Cookies</a> и <a rel="nofollow" href="https://www.bayer.ru/user_website_agreement.php" target="_blank">Пользовательское соглашение АО «БАЙЕР»</a>
            </div>
            <div class="fixed-disclaimer-button-box">
                <button class="fixed-disclaimer-button">Я ПРИНИМАЮ</button>
            </div>
        </div>
    </div>

    {% include '@App/Layout/Block/main_footer.html.twig' %}

    {% block javascript %}{% endblock %}
</body>

</html>
{% endhtmlcompress %}