<ul class="cs-catalogue__btn-list cs-catalogue__categories list-unstyled nav-tabs">
    {% for category in categories %}
        <li class="cs-catalogue__item filter-category" data-id="{{ category.id }}"><a href="#" class="cs-catalogue__btn">{{ category.name }}</a></li>
    {% endfor %}
</ul>