{% if filterValues %}
    {% if filter.filterType == 'choice_icons' %}
        <div class="col-md-8 filter-filter" data-id="{{ filter.id }}">
            <div class="cs-agro__choise tab_item1">
                <span class="cs-choise__title">{{ filter.name }}</span>
                <ul class="cs-choise__list list-unstyled list-inline">
                    {% for filterValue in filterValues %}
                        <li class="cs-choise__item {% if loop.index > 13 %}cs-hidden{% endif %}"><a href="#" class="cs-choise__link filter-list-icons-button" data-id="{{ filterValue.id }}"><span class="cs-choise__img-wrap"><img src="{{ asset(catalog_product_param_value_dir~'/'~filterValue.image) }}" alt="" class="cs-choise__img"></span><p>{{ filterValue.value }}</p></a></li>
                    {% endfor %}
                    {% if filterValues|length > 13 %}
                        <li class="cs-choise__item cs-choise__item-all-btn"><a href="#" class="cs-choise__link"><span class="cs-choise__img-wrap">Показать<br>все</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% elseif filter.filterType == 'choice' %}
        <div class="col-md-4 col-sm-7 filter-filter" data-id="{{ filter.id }}">
            <div class="cs-catalog__object">
                <div class="cs-object__title">{{ filter.name }}</div>
                <select name="#" id="#" class="cs-object__select select-base filter-select" data-placeholder="" data-allow-clear="true">
                    <option></option>
                    {% for filterValue in filterValues %}
                        <option value="{{ filterValue.id }}">{{ filterValue.value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% elseif filter.filterType == 'multichoice_list' %}
        <div class="col-md-4 col-sm-6 filter-filter" data-id="{{ filter.id }}">
            <h3 class="cs-catalog-seed-title">{{ filter.name }}</h3>
            <ul class="cs-catalogue__btn-list list-unstyled">
                {% for filterValue in filterValues %}
                    <li class="cs-catalogue__item"><a class="cs-catalogue__btn seed-btn filter-list-button" data-id="{{ filterValue.id }}">{{ filterValue.value }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}