{% extends 'AppBundle:Layout/Container:wide.html.twig' %}

{% block content %}
    <main>
        <section class="cs-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="cs-banner__slider">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for banner in banners %}
                                        <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    {% for banner in banners %}
                                        <div class="item {% if loop.index == 1 %}active{% endif %}">
                                            <img src="{{ asset(banner_dir~banner.image) }}" alt="">
                                            <div class="cs-slider__description">
                                                <h2 class="cs-slider__title">{{ banner.text1 }}</h2>
                                                <h2 class="cs-slider__sub-title">{{ banner.text2 }}</h2>
                                                <a href="{{ banner.link }}" class="cs-slider__btn btn btn-primary">{{ banner.buttonText }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cs-banner__subscribe">
                                    <div class="cs-subscribe__title">Оставьте свой e-mail</div>
                                    <p>Будьте в курсе новостей из мира семян и защиты растений</p>
                                    <form class="cs-subscribe__form" name="subscribe">
                                        <p>
                                            <input class="cs-subscribe__input" type="text" name="email">
											<span onclick="ga('send','event','cs-footer__form','subscribe'); return true;" >
												<span onclick="yaCounter40583975.reachGoal('cs-subscribe__form'); return true;" >
													<button class="cs-subscribe__btn btn btn-primary">Подписаться</button>
												</span>
											</span>
                                        </p>
                                        <p>
                                            <label class="checkbox-permission">
                                                <input class="checkbox" type="checkbox">
                                                <span class="checkbox-custom"></span>
                                                <span class="label"><a href="/personalinfo" target="_blank">Даю согласие на обработку <br>персональных данных</a></span>
                                            </label>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="cs-banner__arena">
                                    <img src="assets/img/arena.png" alt="БайАрена">
                                    <a href="/bayarena">БайАрена</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cs-our hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/contacts" class="cs-our__link">Наши представители в регионах</a>
                    </div>
                    <div class="col-md-6">
                        <a href="/partners" class="cs-our__link">Наши дистрибьюторы</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="cs-catalogue">
            <div class="container">
                <div id="filter" class="cs-catalogue__wrap">
                    <div class="cs-catalogue__wrap2">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="cs-catalogue__filter">
                                    <span class="cs-catalogue__title">Каталог продукции</span>
                                    <ul class="nav-tabs nav tabs list-filtr">
                                        {% for categoryType in categoryTypes %}
                                            <li class="cs-catalogue__tab-item filter-category-type" data-id="{{ categoryType.id }}" data-param-relation="{{ categoryType.paramsRelation }}"  data-base-param-id="{{ categoryType.baseParamId }}">
                                                <a class="cs-catalogue__tab-link">{{ categoryType.name }} <span class="caret"></span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="cs-catalogue__form">
                                            <input type="text" class="cs-catalogue__form-input filter-search" placeholder="Поиск по Названию">
                                            <button class="cs-catalogue__form-btn filter-search-button" onclick="return false;"><img src="assets/img/loop.png" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="tab_item filter-categories">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 filter-categories-container"></div>
                                    <div class="col-md-9 col-sm-8">
                                        <div class="row filter-params-container">
                                            <div class="filter-filters"></div>
                                            {#
                                            {% for category in categoryType.categories %}
                                                <div class="filter-filters">
                                                    {% for categoryFilter in category.filters %}
                                                        {% set filter = categoryFilter %}
                                                        {% include 'AppBundle:Module/Home:filter.html.twig' %}
                                                        {% if categoryFilter.relation %}
                                                            {% set filter = categoryFilter.relation %}
                                                            {% include 'AppBundle:Module/Home:filter.html.twig' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                            #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="wrap-item">
                                        <div class="cs-catalog-result">
                                            Результаты поиска <span class="caret"></span>
                                        </div>
                                        <div>
                                            <a href="#" class="cs-catalog-btn">Сбросить параметры</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cs-result">
            <div class="container">
                <div id="products" class="cs-result__wrap">
                    <div class="cs-result__wrap2">
                        <div class="row products-container"></div>
                        <div class="row products-show-more-container" style="display: none;">
                            <div class="col-sm-12">
                                <a href="#" class="cs-result__show-more" onclick="return false;">Показать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cs-recommendation">
            <div class="container">
                <div class="cs-recommendation__wrap">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="cs-recommendation__advice">
                                <div class="cs-recommendation__title h3">Нужен совет?</div>
                                <p>Наш эксперт готов предоставить <br>подробную консультацию</p>
                            </div>
                        </div>
                        <div class="wrap md-hidden">
                            <div class="col-md-3 col-xs-12 col-sm-4">
                                <div class="cs-recommendation__input">
                                    <span>Как вас зовут?</span>
                                    <input maxlength="40" type="text" class="cs-recommendation__name">
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-4">
                                <div class="cs-recommendation__input">
                                    <span>Контактный телефон</span>
                                    <input type="text" class="cs-recommendation__phone">
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-4">
                                <div class="cs-recommendation__button">
                                    <a href="#" class="cs-recommendation__btn">Получить консультацию</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cs-agro hidden-lg hidden-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/contacts" class="cs-our__link">Наши представители в регионах</a>
                    </div>
                    <div class="col-md-6">
                        <a href="/partners" class="cs-our__link">Наши дистрибьюторы</a>
                    </div>
                </div>
            </div>
        </section>

        {#
        <section class="cs-partners">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-8 col-xs-12" >
                        <div class="cs-partners__wrap">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="cs-partners__title">С нами работают</h3>
                                </div>
                            </div>
                            <div class="cs-slider">
                                {% for partner in partners %}
                                    {% if partner.site %}
                                        <div class="cs-slide text-center">
                                            <img src="assets/img/partners.png" alt="">
                                            <a href="{{ partner.site }}" class="slider-link">{{ partner.name }}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4  hidden-md hidden-lg">
                        <div class="cs-banner__arena">
                            <img src="assets/img/arena.png" alt="БайАрена">
                            <a href="#">БайАрена</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        #}

        <section class="cs-help">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="cs-help__title h3">Определитель вредных объектов <span class="caret  hidden-md hidden-lg"></span></div>
                        <div class="cs-help__wrap">
                            <img src="assets/img/help-img.jpg" alt="">
                            <ul class="cs-help__list list-unstyled">
                                <li class="cs-help__item"><a href="/fusarium" class="cs-help__link">Фузариоз зерна</a></li>
                                <li class="cs-help__item"><a href="/sorniaki-siel-skokhoziaistviennykh-kul-tur" class="cs-help__link">Сорняки</a></li>
                                <li class="cs-help__item"><a href="/boliezni-ziernovykh-kul-tur" class="cs-help__link">Болезни зерновых культур</a></li>
                                <li class="cs-help__item"><a href="/boliezni-siemiechkovykh-kul-tur" class="cs-help__link">Болезни семечковых культур</a></li>
                                <li class="cs-help__item"><a href="/vrieditieli-ziernovykh-kolosovykh-kul-tur" class="cs-help__link">Вредители зерновых колосовых культур</a></li>
                            </ul>
                            <a href="/contacts" class="cs-help__btn">Нужна помощь? </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="cs-help__title h3">Препараты <span class="caret  hidden-md hidden-lg"></span></div>
                        <div class="cs-help__wrap">
                            <img src="assets/img/help-img2.jpg" alt="">
                            <ul class="cs-help__list list-unstyled">
                                <li class="cs-help__item"><a href="/work-in-progress" class="cs-help__link">Поиск препаратов</a></li>
                                <li class="cs-help__item"><a href="/price" class="cs-help__link">Прайс-лист</a></li>
                                <li class="cs-help__item"><a href="/protection" class="cs-help__link">Меры безопасности</a></li>
                                <li class="cs-help__item"><a href="/forgeries" class="cs-help__link">Борьба с подделками</a></li>
                                <li class="cs-help__item"><a href="/products/herbicides" class="cs-help__link">Каталог продукции</a></li>
                            </ul>
                            <a href="/contacts" class="cs-help__btn">Вопросы о продуктах? </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="cs-help__title h3">Мобильные приложения <span class="caret  hidden-md hidden-lg"></span></div>
                        <div class="cs-help__wrap">
                            <img src="assets/img/help-img3.jpg" alt="">
                            <ul class="cs-help__list list-unstyled">
                                <li class="cs-help__item"><a href="/katalogh-produktsii" class="cs-help__link">Каталог продукции</a></li>
                                <li class="cs-help__item"><a href="/vriednyie-obiekty" class="cs-help__link">Вредные объекты</a></li>
                                <li class="cs-help__item"><a href="/weather" class="cs-help__link">Агропрогноз погоды</a></li>
                                <li class="cs-help__item"><a href="/lechler" class="cs-help__link">Калькулятор форсунок</a></li>
                                <li class="cs-help__item"><a href="/partniory" class="cs-help__link">Партнёры</a></li>
                            </ul>
                            <a href="/apps" class="cs-help__btn">Все приложения</a>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <noindex>
                        <div class="fb-page" data-href="https://www.facebook.com/BayerCropScienceRussia" data-tabs="timeline" data-height="475" {#data-width="500"#} data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BayerCropScienceRussia" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BayerCropScienceRussia">Bayer Crop Science Россия</a></blockquote></div>
                        </noindex>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/catalogFilter.js') }}"></script>
    <script>
        var filter = new CatalogFilter('filter', 'products');

        $('.cs-recommendation__phone').inputmask({
            mask: '9{10,11}',
            placeholder: ''
        });
        $('.cs-recommendation__input input').focus(function () {
            Main.C.Form.showAgreePopup();
        });
        $('.cs-recommendation__btn').click(function () {
            var showCart = function () {
                Cart.show({
                    'phone': $('.cs-recommendation__phone').val(),
                    'name': $('.cs-recommendation__name').val()
                });
            };
            if (Main.C.Form.isAgree) {
                showCart();
            } else {
                Main.C.Form.showAgreePopup(showCart);
            }
            return false;
        });
    </script>
{% endblock %}