{% if products %}
    {% for product in products %}
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="cs-result__item">
                <a href="{{ path('page_product', {slug: product.slug}) }}">
                    <img class="cs-result__img" src="{{ asset(catalog_product_dir~'/'~product.image) }}" alt="">
                </a>
                <a href="{{ path('page_product', {slug: product.slug}) }}" class="cs-result__link">{{ product.name }}</a>
                <p>
                    {{ product.purpose|striptags }}
                </p>
                <div class="clearfix "></div>
                <div class="cs-result__bottom">
					<span onclick="ga('send','event','cs-result__btn','click'); return true;" >
						<span onclick="yaCounter40583975.reachGoal('cs-result__btn'); return true;" >
							<a href="#" class="cs-result__btn" onclick="Cart.add({{ product.id }}, this); return false;">+ Добавить в заявку</a>
						</span>
					</span>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if hasMore %}
    <script>
        $('.products-show-more-container').show();
    </script>
    {% endif %}
{% else %}
    <div class="col-sm-12">
        <h2 style="width: 100%; text-align: center">Поиск не дал результатов</h2>
    </div>
{% endif %}