<meta charset="UTF-8">
{% if pagination is defined and pagination.currentPageNumber > 1 %}
<title>{{ cms_page.titleOrHead }} страница №{{ pagination.currentPageNumber }}</title>
{% else %}
    <title>{{ cms_page.titleOrHead }}</title>
{% endif %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NGCCX9');</script>
<!-- End Google Tag Manager -->

<link href="{{ asset('assets/img/layout/icons/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
{% if pagination is defined and pagination.currentPageNumber > 1 %}
<meta name="keywords" content="" />
{% else %}
<meta name="keywords" content="{{ cms_page.keywords }}" />
{% endif %}
{% if pagination is defined and pagination.currentPageNumber > 1 %}
<meta name="description" content="" />
{% else %}
    <meta name="description" content="{{ cms_page.description }}" />
{% endif %}
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="application-name" content="Bayer CropScience"/>
<meta name="msapplication-config" content="/browserconfig.xml"/><!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@bayer4cropsru">
<meta name="twitter:title" content="{{ cms_page.title }}">
<meta name="twitter:description" content="{{ cms_page.description }}">
<meta name="twitter:creator" content="@bayer4cropsru">
<meta name="twitter:domain" content="www.cropscience.bayer.ru"><!-- Twitter Summary card images must be at least 200x200px -->
<meta name="twitter:image" content="http://www.cropscience.bayer.ru/assets/img/layout/social-default.png"><!-- Open Graph data -->
<meta property="og:title" content="{{ cms_page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.cropscience.bayer.ru/" />
<meta property="og:image" content="http://www.cropscience.bayer.ru/assets/img/layout/social-default-fb.png" />
<meta property="og:description" content="{{ cms_page.description }}" />
<meta property="og:site_name" content="Bayer CropScience Россия" />
<meta property="fb:admins" content="100000118533756" />
<meta name="yandex-verification" content="4a31a7ae2b3ccf04" />

<link rel="stylesheet" href="{{ asset('assets/css/bootstrap2.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('assets/vendor/jquery-colorbox/example1/colorbox.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('assets/vendor/magnific-popup/dist/magnific-popup.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}" type="text/css" />

<link rel="stylesheet" href="{{ asset('assets/css/forms.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/main.css?t5') }}">
<link rel="stylesheet" href="{{ asset('assets/css/media.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/css/suggestions.min.css" />

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

{{ cms_page.css|raw }}
