<script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery.cookie/jquery.cookie.js') }}"></script>
<script src="{{ asset('assets/vendor/slick-carousel/slick/slick.min.js') }}"></script>
<script src="{{ asset('assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-form/dist/jquery.form.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-colorbox/jquery.colorbox-min.js') }}"></script>
<script src="{{ asset('assets/vendor/select2/dist/js/select2.min.js') }}"></script>
<script src="{{ asset('assets/vendor/inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/js/jquery.suggestions.min.js"></script>
<script src="{{ constant('\\EWZ\\Bundle\\RecaptchaBundle\\Form\\Type\\EWZRecaptchaType::RECAPTCHA_API_SERVER') }}" async defer></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/cart.js') }}"></script>
<script>
    Cart.addUrl = '{{ path('cart_add') }}';
    Cart.removeUrl = '{{ path('cart_remove') }}';
    Cart.cartUrl = '{{ path('cart') }}';
    Cart.clearUrl = '{{ path('cart_clear') }}';
    Cart.bookingUrl = '{{ path('booking') }}';
    Cart.organizationPrivateFarmId = {{ constant('AppBundle\\Entity\\BookingOrganization::PRIVATE_FARM_ID') }};
    Main.C.Recaptcha.publicKey = '{{ recaptcha_public_key }}';
    Main.baseUrl = '{{ app.request.baseUrl }}';
</script>
<script>
    Main.C.Form.url = '{{ path('form') }}';
</script>

{{ cms_page.javascript|raw }}