{% if products %}
    <table id="table-items-sorter" class="table table-bordered tablesorter ui-responsive table-desktop not-transform">
        <thead>
        <tr style="background-color:#47ad47;color:#fff;cursor:pointer;">
            <th>Изображение</th>
            <th>Название</th>
            <th>Описание</th>
            {% for key,field in productExtraFields %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% if product.enabled %}
                {% if type is defined and type == 'tag' %}
                    {% set productLink = path('page_product_tag', {slug: product.slug, tag: category.slug}) %}
                {% else %}
                    {% set productLink = path('page_product', {slug: product.slug}) %}
                {% endif %}
                <tr>
                    <td {% if product.targetFirst|length %}rowspan="{{ product.targetFirst|length }}"{% endif %}>
                        <a href="{{ productLink }}">
                            <img src="{{ asset('/'~catalog_product_dir~'/'~product.image) }}" width="100" height="100" alt="{{ product.category.name }} {{ product.name }} фото" title="Заказать {{ product.category.name }} {{ product.name }}">
                        </a>
                    </td>
                    <td {% if product.targetFirst|length %}rowspan="{{ product.targetFirst|length }}"{% endif %}>
                        <a href="{{ productLink }}">
                            {{ product.name }}
                        </a>
                    </td>
                    <td {% if product.targetFirst|length %}rowspan="{{ product.targetFirst|length }}"{% endif %}>{{ product.purpose|raw }}</td>
                    {% for key,field in productExtraFields %}
                        {% if key == 'targetFirst' %}
                            <td>{% if product.targetFirst|length %}{{ product.targetFirst[0] }}{% endif %}</td>
                        {% elseif key == 'targetSecond' %}
                            <td>{% if product.targetSecond|length %}{{ product.targetSecond[0] }}{% endif %}</td>
                        {% else %}
                            <td>{{ attribute(product, key) }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% if product.targetFirst|length > 1 %}
                    {% for targetFirstValue in product.targetFirst %}
                        {% if loop.index0 > 0 %}
                            <tr>
                                <td>{{ targetFirstValue }}</td>
                                <td>
                                    {% if product.targetSecond[loop.index0] is defined %}
                                        {{ product.targetSecond[loop.index0] }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}