{% extends 'AppBundle:Layout/Container:page.html.twig' %}

{% if category.id == 4 %}
    {% block stylesheets %}
        <style>
            body {
                font-size: 13px;
            }
        </style>
    {% endblock %}
{% endif %}

{% block content %}
    {{ parent() }}

    {{ category.description|raw }}
    <hr>
    {% if highTags is defined and highTags %}
        <div class="tags">
            {% for highTag in highTags %}
                <p><a href="{{ path('page_catalog_tags', {slug: highTag.slug}) }}">{{ highTag.name }}</a></p>
            {% endfor %}
        </div>
    {% endif %}
    {% if not category.hideProducts %}
        {% include '@App/Module/Catalog/category_products.html.twig' %}
    {% endif %}
    {% if subProducts is defined and subProducts %}
        {% for subProduct in subProducts %}
            <h2>{{ subProduct.category.name }}</h2>
            {% if subProduct.category.image %}
                <p>
                    {% if subProduct.category.imageLink %}
                        <a href="{{ subProduct.category.imageLink }}">
                    {% endif %}
                            <img src="{{ asset(catalog_category_dir~subProduct.category.image) }}" alt="">
                    {% if subProduct.category.imageLink %}
                        </a>
                    {% endif %}
                </p>
            {% endif %}
            {% set products = subProduct.products %}
            {% include '@App/Module/Catalog/category_products.html.twig' %}
        {% endfor %}
    {% endif %}
    {% if lowTags is defined and lowTags %}
        <div class="tags">
            {% for lowTag in lowTags %}
                <p><a href="{{ path('page_catalog_tags', {slug: lowTag.slug}) }}">{{ lowTag.name }}</a></p>
            {% endfor %}
        </div>
    {% endif %}
    {{ category.descriptionAdvanced|raw }}
{% endblock %}