{% extends 'AppBundle:Layout/Container:page.html.twig' %}
    {% block stylesheets %}
        <style>
            body {
                font-size: 13px;
            }
        </style>
    {% endblock %}
{% block content %}
    {{ parent() }}

    {% if product.slogan %}
        <p class="intro">{{ product.slogan|raw }}</p>
    {% endif %}
    <div class="pull-right span4 col-sm-12">
        <p style="position:relative;">
            <img border="0" src="{{ asset('/'~catalog_product_dir~'/'~product.image) }}"  alt="{{ product.category.name }} {{ product.name }} фото" title="Заказать {{ product.category.name }} {{ product.name }}">
        </p>
        {% if product.category and product.category.id != constant('AppBundle\\Entity\\CatalogCategory::EQUIPMENT_FOR_SEEDS_ID') %}
            <h5>
                <a class="cart" href="/partners" title="Где заказать?">Где заказать?</a>
            </h5>
        {% endif %}
        <div>
			<span onclick="ga('send','event','button-base','click'); return true;" >
				<span onclick="yaCounter40583975.reachGoal('button-base'); return true;" >
					<a href="#" class="button-base" style="margin-top: 10px;" onclick="Cart.add({{ product.id }}, this); return false;">+ Добавить в заявку</a>
				</span>
			</span>
		</div>
        {% if tags %}
            <br>
            <div class="tags">
                {% for tag in tags %}
                    <p><a href="{{ path('page_catalog_tags', {slug: tag.slug}) }}">{{ tag.name }}</a></p>
                {% endfor %}
            </div>
        {% endif %}
        {% if attachments %}
            <h5 class="files">&nbsp;</h5>
            <ul class="files" style="font-size:90%;line-height:1em;">
                {% for attachment in attachments %}
                    <li class="{{ attachment.fileExtension }}">
                        <a href="{{ asset(attachment_dir~attachment.file) }}" target="_blank">{{ attachment.name }}</a><br>
                        <span class="small gray6">(Adobe&nbsp;Acrobat,&nbsp;{{ attachment.fileSizeKb }}&nbsp;Кб)</span>
                    </li>
                {% endfor %}
            </ul>
            <p class="small">Для просмотра документов в формате PDF Вам может понадобится
                <noindex>
                    <a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank" rel="nofollow">Acrobat Reader</a>
                </noindex>.
            </p>
        {% endif %}
    </div>

    <div class="oh_page_fix">
        {#
        <h2>Описание</h2>
        #}
        {% if product.itOverview %}
            {{ product.itOverview|raw }}
        {% else %}
            {% for field, title in fields %}
                {% if attribute(product, field) %}
                    <h3>{{ title }}</h3>
                    {{ attribute(product, field)|raw }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    {% if jointlyPurchasedProducts %}
        {% set products = jointlyPurchasedProducts %}
        {% set category = product.category %}
        <div class="clearfix"></div>
        <h2>С этим товаром часто покупают</h2>
        {% include '@App/Module/Catalog/category_products.html.twig' %}
    {% endif %}
{% endblock %}