{% block form_row %}
    {% spaceless %}
        <div class="form-row">
            <div class="form-label">
                {{ form_label(form) }}
            </div>
            <div class="form-data">
                <div class="form-field">{{ form_widget(form) }}</div>
                <div class="form-error">{{ form_errors(form) }}</div>
            </div>
            <div class="clear"></div>
        </div>
    {% endspaceless %}
{% endblock form_row %}