{% extends 'AppBundle:Layout/Container:page.html.twig' %}

{% block content %}
    {% for item in pagination %}
        <dl class="news">
            <dt><span class="date">{{ item.publicDate|date("d-m-Y") }}</span></dt>
            <dd><h3><a href="{{ path('page_news_one', {slug: item.id}) }}">{{ item.name }}</a></h3><p></p>
                {{ item.preview|raw }}
            </dd>
        </dl>
    {% endfor %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block head %}
    {% if pagination.currentPageNumber > 1 %}
        <meta name="robots" content="noindex, follow"/>
    {% else %}
        <meta name="robots" content="index, follow"/>
    {% endif %}

    {% if pagination.currentPageNumber == 2 %}
        <link rel="prev" href="{{ path('page_news') }}">
    {% endif %}
    {% if pagination.currentPageNumber > 2 %}
        <link rel="prev" href="{{ path('page_news', {page: pagination.currentPageNumber-1}) }}">
    {% endif %}
    {% if pagination.currentPageNumber < pagination.pageCount %}
        <link rel="next" href="{{ path('page_news', {page: pagination.currentPageNumber+1}) }}">
    {% endif %}
{% endblock %}