{% extends 'AppBundle:Layout/Container:page.html.twig' %}

{% block content %}
    <dl class="news">
        <dt><span class="date">{{ item.publicDate|date("d-m-Y") }}</span></dt>
        <dd><h1>{{ item.name }}</h1>
            {{ item.text|raw }}
        </dd>
    </dl>
    <div class="aright"><a href="{{ path('page_news') }}">Все новости</a></div>
{% endblock %}