{% extends 'AppBundle:Layout/Container:page.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/partners.css') }}" type="text/css" />
    <style>
        body {
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/vendor/jquery-mousewheel/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jScrollPane/script/jquery.jscrollpane.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAIXQOFW_x4I2Fpw72WwELqnpDuvJSfna0&callback=mapInit&language=ru" async defer></script>
    <script src="{{ asset('assets/js/partners.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="store_list">
        <div class="store_list__select">
            <label>Выберите регион:</label>
            <div class="store_list__select-input">
                <select class="js-select-basic-single">
                    <option value="">Регион</option>

                    {% for region in regions %}
                        <option {% if filterRegion == region %}selected="selected"{% endif %} value="{{ path(app.request.get('_route')) }}?region={{ region.id }}">{{ region.name }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="list_switch">
                <ul class="list-unstyled">
                    <li class="list_switch__map active">
                        <a href="#"><span class="ico"></span>На карте</a>
                    </li>
                    <li class="list_switch__list">
                        <a href="#"><span class="ico"></span>Смотреть список</a>
                    </li>
                </ul>
            </div>
            <!--.list_switch-->
        </div>
        <!--.store_list__select-->
        <div class="store_tabs">
            <div class="store_tabs__map">
                <div class="store_list__map">
                    <div class="store_list__map-embed" id="bigmap"></div>
                    <div class="store_list__map-list" id="bigmap-list" style="visibility: hidden;">
                        <div class="store_list__map-list__in scroller yellow-scroller">
                            {% for partner in partners %}
                                <div class="slm_item cf" data-num="{{ loop.index }}">
                                    <div class="slm_item__numb">{{ loop.index }}</div>
                                    <div class="slm_item__txt">

                                        <h4>{{ partner.name }}</h4>

                                        <h5>Адрес: </h5>
                                        <p>
                                            {% if partner.postcode %}{{ partner.postcode }},{% endif %}
                                            {% if partner.region %}{{ partner.region }},{% endif %}
                                            {% if partner.city %}{{ partner.city }},{% endif %}
                                            {{ partner.address }}
                                        </p>

                                        {% if partner.phoneList %}
                                            <p>
                                                <span class="phone-button button-base" onclick="ga('send','event','{{ partner.name|escape }}', 'Смотрел контакты дистрибьютора');">
                                                    Показать контакты<br>
                                                    {% for phone in partner.phoneList %}
                                                        <span>{{ phone }}</span>{% if not loop.last %}{% endif %}
                                                    {% endfor %}
                                                    {% if partner.fax %}
                                                        <span>{{ partner.fax }}</span>
                                                    {% endif %}

                                                    {% if partner.email %}
                                                        <span><a href="mailto:{{ partner.email }}">{{ partner.email }}</a></span>
                                                    {% endif %}

                                                    {% if partner.site %}
                                                        <span><a rel="nofollow" href="{{ partner.site }}" target="_blank">{{ partner.site }}</a></span>
                                                    {% endif %}
                                                </span>
                                            </p>
                                        {% endif %}

                                        {% if partner.latitude and partner.longitude %}
                                            <script type="text/javascript">
                                                window.gmaps_callbacks = window.gmaps_callbacks || [];
                                                window.gmaps_callbacks.push(function(map, bounds){
                                                    var num = "{{ loop.index }}",
                                                            marker = new google.maps.Marker({
                                                                position: new google.maps.LatLng({{ partner.latitude }}, {{ partner.longitude }}),
                                                                        /*animation: google.maps.Animation.DROP,*/
                                                                        map: this,
                                                                        icon: '/assets/images/ico-map_marker.png',
                                                                        label: num
                                                                    });
                                                                    marker.setZIndex(google.maps.Marker.MAX_ZINDEX + {{ loop.index0 }});
                                                                    //console.log(google.maps.Marker.MAX_ZINDEX + {{ loop.index0 }});

                                                            bounds.extend(marker.getPosition());
                                                            marker.addListener('click', function(e) {
                                                                $('#bigmap-list').css('visibility', 'visible');

                                                                var desc = $('.store_tabs__map .slm_item').removeClass('active')
                                                                        .filter('[data-num=' + num + ']')
                                                                        .addClass('active');
                                                                $('.scroller').data('jsp').scrollToElement(desc, true, true);
                                                                map.setZoom(12);
                                                                map.bcsOffsetCenter(marker.position, -150, 0);
                                                            });
                                                            $('.store_tabs__map .slm_item[data-num=' + num + ']').on('click', function(){
                                                                $('.store_tabs__map .slm_item').removeClass('active');
                                                                $(this).addClass('active');
                                                                map.setZoom(12);
                                                                map.bcsOffsetCenter(marker.position, -150, 0);
                                                                marker.setZIndex(google.maps.Marker.MAX_ZINDEX + 1);

                                                                if (map.partners_last_marker){
                                                                    map.partners_last_marker.setZIndex(google.maps.Marker.MAX_ZINDEX - 1);
                                                                }
                                                                map.partners_last_marker = marker;
                                                            });
                                                        });
                                            </script>
                                        {% endif %}
                                    </div>
                                </div><!--.slm_item-->
                            {% endfor %}
                        </div><!--.store_list__map-list-->
                    </div><!--.store_list__map-->
                </div><!--.store_tabs__map-->
            </div>
            <div class="store_tabs__list">
                <div class="store_list__map-list">
                    <div class="store_list__map-list__in scroller yellow-scroller">
                        {% for partner in partners %}

                            {% if partner.address %}
                            <div itemscope itemtype="http://schema.org/Organization" style="display: none">
                                <meta itemprop="name" content="Bayer Crop Science Россия - {{ partner.name }}" />
                            {% if partner.phoneList %}
                                {% for phone in partner.phoneList %}
                                    <meta itemprop="telephone" content="{{ phone }}" />
                                {% endfor %}
                            {% endif %}
                                {% if partner.email %}
                                    <meta itemprop="email" content="{{ partner.email }}" />
                                {% endif %}
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            {% if partner.address %}<meta itemprop="streetAddress" content="{{ partner.address }}" />{% endif %}
                            {% if partner.postcode %}<meta itemprop="postalCode" content="{{ partner.postcode }}" />{% endif %}
                            {% if partner.city %}<meta itemprop="addressLocality" content="{{ partner.city }}" />{% endif %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="slm_item cf">
                                <div class="slm_item__numb">{{ loop.index }}</div>
                                <div class="slm_item__txt">
                                    <h4>{{ partner.name }}</h4>
                                    <h5>Адрес: </h5>
                                    <p>
                                        {% if partner.postcode %}{{ partner.postcode }},{% endif %}
                                        {% if partner.region %}{{ partner.region }},{% endif %}
                                        {% if partner.city %}{{ partner.city }},{% endif %}
                                        {{ partner.address }}
                                    </p>

                                    {% if partner.phoneList %}
                                        <p>
                                            <span class="phone-button button-base" onclick="ga('send','event','{{ partner.name|escape }}', 'Смотрел контакты дистрибьютора');">
                                                Показать контакты<br>
                                                {% for phone in partner.phoneList %}
                                                    <span>{{ phone }}</span>{% if not loop.last %}{% endif %}
                                                {% endfor %}
                                                {% if partner.fax %}
                                                    <span>{{ partner.fax }}</span>
                                                {% endif %}

                                                {% if partner.email %}
                                                    <span><a href="mailto:{{ partner.email }}">{{ partner.email }}</a></span>
                                                {% endif %}

                                                {% if partner.site %}
                                                    <span><a rel="nofollow" href="{{ partner.site }}" target="_blank">{{ partner.site }}</a></span>
                                                {% endif %}
                                            </span>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <p>&nbsp;</p>

        <!-- <p><a href="/ru/documents/">Документы для складов (доступно только для зарегистрированных пользователей)</a></p> -->
        <div class="subhead">
            <h3>Обратная связь</h3>
        </div>
        <div id="forms" class="col-sm-7" style="padding-left: 0; margin-top: 15px;">
            <form name="contacts">
                <div class="form-group"><label>Ваше имя*</label> <input class="form-control" maxlength="50" name="name" required="required" type="text" />
                    <div class="error_container i_form_error">&nbsp;</div>
                </div>
                <div class="form-group"><label>Компания</label> <input class="form-control" maxlength="50" name="companyName" type="text" />
                    <div class="error_container i_form_error">&nbsp;</div>
                </div>
                <div class="form-group"><label>Должность</label> <input class="form-control" maxlength="50" name="position" type="text" />
                    <div class="error_container i_form_error">&nbsp;</div>
                </div>
                <div class="form-group"><label>Email*</label> <input class="form-control" maxlength="50" name="email" required="required" type="text" />
                    <div class="error_container i_form_error">&nbsp;</div>
                </div>
                <div class="form-froup"><label>Телефон</label> <input class="form-control" maxlength="50" name="phone" type="text" />
                    <div class="error_container i_form_error">&nbsp;</div>
                </div>
                <div class="form-group form-group-maxlength"><label>Вопрос*</label> <textarea class="form-control" name="message" required="required" maxlength="512" rows="5"></textarea>
                    <div class="form-hint"></div>
                    <div class="error_container i_form_error">&nbsp;</div>
                </div>
                <div class="form-group">
					<span onclick="ga('send','event','contacts','click'); return true;" >
						<span onclick="yaCounter40583975.reachGoal('contacts'); return true;" >
							<input class="button btn btn-success" name="Submit" value="Отправить!" style="background-color: #339933;" type="submit" /></div>
						</span>
					</span>
				<p>*Поля, обязательные для заполнения</p>
            </form>
        </div>
    </div>
{% endblock %}