<div id="cart" class="white-popup">
    <div class="popup-overlay"></div>
    <div class="container-fluid">
        <form>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Заявка на консультацию</h3>
                    {% if products|length %}
                        <span class="popup-desc">Менеджер Bayer предоставит консультацию про вашему списку продуктов</span>
                    {% else %}
                        <span class="popup-desc">Менеджер Bayer предоставит консультацию с учетом информации в заявке</span>
                    {% endif %}
                </div>
            </div>
            {% if products|length %}
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-12">
                            <div class="cs-result__item">
                                <input type="hidden" name="products[]" value="{{ product.id }}">
                                <button type="button" onclick="Cart.remove({{ product.id }}, this);">×</button>
                                <img src="{{ asset(catalog_product_dir~'/'~product.image) }}" alt="" class="cs-result__img">
                                <a href="{{ path('page_product', {slug: product.slug}) }}" class="cs-result__link">{{ product.name }}</a>
                                <p>{{ product.purpose|striptags }}</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" onclick="Cart.close(); return false;"><img class="back-arr" src="{{ asset('assets/img/back-arr.png') }}" alt="">Вернуться к выбору продуктов</a>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>Чтобы мы точнее ответили на вопросы, поделитесь, <br>пожалуйста, информацией о вашем хозяйстве</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for organization in organizations %}
                        <p>
                            <input type="radio" {% if loop.index0 == 0 %}checked="checked"{% endif %} id="test{{ loop.index }}" name="organization" class="organization" value="{{ organization.id }}">
                            <label for="test{{ loop.index }}">{{ organization.name }}</label>
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="organization-form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="popup-field">
                            <input class="popup-input" required type="text" id="name" name="farm_name" maxlength="40" placeholder="Название хозяйства">
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <select class="popup-input select-option select-base" name="arable_area" data-class="select-blue" data-placeholder="Площадь пахотных земель">
                                <option></option>
                                {% for arableArea in arableAreas %}
                                    <option value="{{ arableArea.id }}">{{ arableArea.value }}</option>
                                {% endfor %}
                            </select>
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <input class="popup-input" required type="text" value="{{ app.request.request.get("name") }}" id="login" name="name" maxlength="40" placeholder="Как вас зовут?">
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <input class="popup-input" required type="email" id="email" name="email" maxlength="40" placeholder="E-mail">
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <div id="cart-captcha" data-name="recaptcha"></div>
                            <div class="popup-error"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="popup-field">
                            <select class="popup-input select-option city select-base" data-class="select-blue" data-placeholder="Регион" name="region">
                                <option></option>
                                {% for region in regions %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <div data-name="crops" class="select-container" id="cart-crops-container">
                                <button onclick="Cart.addCrop(); return false;"></button>
                            </div>
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <input class="popup-input" required type="text" id="pohone" name="phone" value="{{ app.request.request.get("phone") }}" placeholder="Контактный телефон">
                            <div class="popup-error"></div>
                        </div>
                        <div class="popup-field">
                            <textarea class="popup-input popup-textarea" name="comment" maxlength="500" placeholder="Вопросы/комментарии"></textarea>
                            <div class="popup-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="popup-field">
                            <label>
                                <input class="checkbox" type="checkbox" name="rules" value="1">
                                <span class="checkbox-custom popup-desc"></span>
                                <span class="label popup-desc"><a href="/personalinfo" target="_blank">Подтверждаю согласие на обработку персональных данных</a></span>
                            </label>
                            <div class="popup-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"> 
						<span onclick="ga('send','event','formLiteBox','click'); return true;" >
							<span onclick="yaCounter40583975.reachGoal('formLiteBox'); return true;" >
								<button class="popup-btn" onclick="Cart.booking();">Отправить</button>
							</span>
						</span>
                        <span class="popup-desc">*Все поля обязательны для заполнения.</span>
                    </div>
                </div>
            </div>
            <div class="row organization-private-farm" style="display: none;">
                <div class="col-sm-12 text-center">
                    <br>
                    <span class="popup-desc">Чтобы приобрести препараты, зарегистрированные для применения в ЛПХ,<br> перейдите по <a href="http://www.dachagroup.ru/products" target="_blank">ссылке</a> или обратитесь за консультацией по телефону +7 495 644 17 54</span>
                </div>
            </div>
        </form>
    </div>
</div>