{% extends '@SonataAdmin/CRUD/list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cms/vendor/jquery.fancytree/dist/skin-bootstrap/ui.fancytree.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/list-tree.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cms/vendor/js-cookie/src/js.cookie.js') }}"></script>
    <script src="{{ asset('bundles/cms/vendor/jquery.fancytree/dist/jquery.fancytree-all.js') }}"></script>
    <script src="{{ asset('bundles/cms/vendor/ui-contextmenu/jquery.ui-contextmenu.min.js') }}"></script>
    <script src="{{ asset('bundles/cms/js/list-tree.js') }}"></script>

    <script type="text/javascript">
        $(function(){
            listTree.init({
                "containerId": "treetable",
                source: {{ tree|json_encode|raw }},
                dnd: {
                    url: "{{ admin.generateUrl('tree-move') }}"
                }
            });
        });
    </script>
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div id="treetable"></div>
        </div>
    </div>
{% endblock %}

{% block list_filters %}{% endblock %}
{% block list_filters_actions %}{% endblock %}