{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('.form-region').on('change', function () {
                setFormCities();
            });
            setFormCities({% if object.city %}{{ object.city.id }}{% endif %});
        });

        function setFormCities (cityId) {
            var regionId = $('select.form-region').val(),
                $selectCity = $("select.form-city"),
                $city = $('.form-city');

            $selectCity.empty();
            $city.select2('enable', false);

            $.post('{{ path('admin_geo_cities_by_region') }}', {
                region: regionId
            }, function (data) {
                if (data.length) {
                    $city.select2('enable', true);
                    $selectCity.append('<option/>');
                    for (var i=0; i<data.length; i++) {
                        var $option = $('<option/>').attr('value', data[i].id).html(data[i].name);
                        $selectCity.append($option);
                    }
                    if (cityId) {
                        $city.select2('val', cityId);
                    }
                }
            });
        }
    </script>
{% endblock %}