<a href="{{ admin.generateUrl('admin.admin.catalog_product_param_value.list', {id: object.id}) }}" class="btn btn-sm btn-default view_link">
    <i class="fa fa-level-down" aria-hidden="true"></i>
    Значения
</a>