{% block product_relation_param_widget %}
    <div class="product-relation-param">
        <input type="hidden" class="field" name="{{ full_name }}" value="">
        <table class="table">
            <tr>
                <td>{{ param.name }}</td>
                <td>{{ param.relation.name }}</td>
                <td></td>
            </tr>
            <tbody class="items"></tbody>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn-add btn btn-success btn-sm" name="btn_update_and_edit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить</button>
                </td>
            </tr>
        </table>
    </div>
    <script>
        $(function () {
            var startValues = {{ productParamValues|json_encode|raw }},
                    paramValues = {{ paramValues|json_encode|raw }},
                    relationParamValues = {{ relationParamValues|json_encode|raw }},
                    $container = $('.product-relation-param'),
                    $btnAdd = $container.find('.btn-add'),
                    $items = $container.find('.items'),
                    $field = $container.find('.field');

            for (var key in startValues) {
                add(key, startValues[key]);
            }

            $btnAdd.click(function () {
                add();
                return false;
            });

            function add(defaultSelect1Value, defaultSelect2Values) {
                var selectedVals = selectedValues();
                var $tr = $('<tr/>');
                var $td1 = $('<td/>');
                var $select1 = $('<select/>').addClass('select-1').css('width', '100%');
                for (var key in paramValues) {
                    if (typeof selectedVals[key] == "undefined") {
                        var val = paramValues[key];
                        var $option = $('<option/>').attr('value', key).text(val);
                        $select1.append($option);
                        if (defaultSelect1Value && parseInt(key) == defaultSelect1Value) {
                            $option.prop('selected', true);
                        }
                    }
                }
                $td1.append($select1);
                $tr.append($td1);
                var $td2 = $('<td/>');
                var $select2 = $('<select/>').addClass('select-2').prop('multiple', true).css('width', '100%');
                for (var key in relationParamValues) {
                    var val = relationParamValues[key];
                    var $option = $('<option/>').attr('value', key).text(val);
                    $select2.append($option);
                    if (defaultSelect2Values && defaultSelect2Values.indexOf(parseInt(key)) > -1) {
                        $option.prop('selected', true);
                    }
                }
                $td2.append($select2);
                $tr.append($td2);
                $button = $('<button type="button" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i></button>');
                $button.click(function () {
                    $(this).parent().parent().remove();
                    change();
                });
                $td3 = $('<td/>').append($button);
                $tr.append($td3);
                $items.append($tr);

                $select1.change(function () {
                    change();
                });
                $select2.change(function () {
                    change();
                });
                $select1.select2();
                $select2.select2();
                change();
            }

            function change()
            {
                $field.val(JSON.stringify(selectedValues()));
            }
            change();

            function selectedValues()
            {
                var result = {};
                $container.find('select.select-1').each(function () {
                    var val = $(this).val();
                    if (val && val.length) {
                        $(this).parent().parent().find('select.select-2').each(function () {
                            result[val] = $(this).val();
                        });
                    }
                });
                return result;
            }
        });
    </script>
{% endblock %}